.right-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  .language {
    margin: 0 20px;
  }
  .user {
    width: 180px;
    height: 48px;
    border: 1px solid red;
  }
}
