.right-menu {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  align-items: center;

  .language {
  }
  .user {
    width: 100px;
    height: 48px;
    border: 1px solid red;
  }
}
